<div class="side-first-header">
  <div class="first-username">
    <a href="#">Nakazawa.T</a>
  </div>
  <div class="first-logout">
    <a href="#">ログアウト</a>
  </div>
</div>

<div class="side-second-header">
  <div class="second-create">
    <a href="#">タスク作成</a>
  </div>
  <div class="second-download">
    <a href="#">ダウンロード</a>
  </div>
</div>


<div class="side-main">
  <div class="side-title">[タスク一覧・編集]</div>
  <div class="side-task">
    <a href="#">７kgダイエット[三ヶ月]</a>
  </div>
  <div class="side-task">
    <a href="#">ポートフォリオ作成</a>
  </div>
</div>