<div class="edit-title">
  <details>
    <summary>７kgダイエット[三ヶ月]</summary>
    脂肪＝7000kcal<br>
    7000*7kg＝49000kcal<br>
    49000/90日=545kcal<br>
    基礎代謝量[参考URL https://keisan.casio.jp/exec/system/1161228736]<br>
    基礎代謝量-545kcal=１日の摂取可能カロリー<br>
  </details>
</div>

<div>
    カテゴリー：＃運動
</div>

<div class="edit-task">
  <details>
      <summary>TaskA:食事制限</summary>
      摂取可能カロリー955kcal<br>
      朝食：プロテイン[118kcal]<br>
      昼食：フリー<br>
      夕食：豚汁[121kcal]冷奴[100kcal]フリー<br>
      ※フリー枠で合計616kcalまで<br>
    </details>
</div>

<div class="edit-task">
  <details>
      <summary>TaskB:運動</summary>
      消費カロリー = 強度（メッツ） × 時間（h） × 体重（kg）<br>
      参考URL https://mizunosusume.jp/exeecise-calories-1590<br>
      ジョギング[7*1*60=420kcal]<br>
      水泳(クロール)[8.3*1*60=498kcal]<br>
      サイクリング[8*1*60=480kcal]<br>
      ※消費カロリー分追加で食べても良い
    </details>
</div>